* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.logo{
  width:100px;
  float: left;
}


.coveranimation {
  height:500px;
  width: 800px;
  position: relative;
  padding: 2rem;
  justify-content: center;
 
}

.coveranimation img {
    width: 100%;
    height: 100%;
    justify-content: center;
    
  }

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 1s ease;
}

.transition-image:hover {
  opacity: 1;

}


#slider {
  overflow: hidden;
}


#slider figure  {
  position: relative;
  width: 500%;
  margin:0;
  left:0;
  animation: 15s slider infinite;

}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left:0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%
  }
  50% {
    left: -200%

  }
}


body {
    background-color: rgb(209, 209, 209);

}



.contactus {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
  }



div p {
    background-color: yellow;
  }

  div > p {
    background-color: purple;
  }

  li:first-of-type + li {
    color: red;
  }


  a:hover {
      background-color: brown;
  }

 a:active {
     background-color: rgb(108, 106, 212)
     color: blueviolet;
 }
 
 a:visited {
     background-color: chartreuse;
 }

 #showcase h1 {
  animation: heading;

 }
 
@keyframes h1 {
  0% {top: -50px}
  100% {top: 200px}
}



